
body {
  background-color: rgb(255, 181, 194);
}

#board {
  width: 440px;
  height: 440px;
  border: 1px solid white;
  background-color: rgb(234, 135, 153);
}

#score, #highScore {
  color: white;
}

.snake, .apple {
  display: block;
  width: 20px;
  height: 20px;
  position: absolute;
  user-select: none;
}

.snake {
  background-color: rgb(218, 96, 137);
  z-index: 2;
}

#snake-head {
  background-color: rgb(174, 61, 91);
}

.apple {
  background-color: rgb(236, 29, 64);
  z-index: 1;
}